.mg-top-10 {
    margin-top: 10px;
}
.vn-change-avt {
    width: 178px;
    height: 178px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.col-sm-4 {
    width: 33.33333333%;
    float: left;

}